//Colors


$color-primary:#7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;


$color-sec-light:#ffb900;
$color-sec-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark: #128bf1;



$color-grey:#777;
$color-grey-dark: #434343;
$color-grey-dark2: #5d5d5d;
$color-black:#001;
$color-white:#fff;

$color-grey-light:#f7f7f7;
$color-grey-light2: #cecece;
$color-grey-medium: #919191;
$color-grey-light3: #949494;


//Grid
$max-width:114rem;
$margin-bottom:6rem;
$margin-horizontal:4rem;