.popupbg{
  background-color: rgba($color-grey-dark,0.8);
  width: 100%;
  height: 100vh;
  //display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  display: none;



  animation: popup 0.3s ease-in-out;

}
.popup{


  margin: 0 auto;
  background-color: $color-white;

  width: 70%;
  height: 80%;

  position: relative;
  display: flex;
  flex-flow: row;
  overflow: hidden;


  @media screen and  (max-width: 28.125em) { //450px
    width: 90%;
    height: 86%;
  }


  &__close{
    color: $color-grey-light3;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
  }

  &__img{
    width: 100%;
    padding: 2rem 3rem;
    img{
      margin: 1rem 0;
      width: 27rem;
      height: auto;


      @media screen and  (max-width: 62.5em) { //1000px
        width: 20rem;
      }

      @media screen and  (max-width: 53.125em) { //850px
        width: 22rem;

      }
    }


    @media screen and  (max-width: 59.375em) { //950px
      padding: 2rem 1rem;
    }

    @media screen and  (max-width: 50em) { //800px
      display: none;
    }



  }

  &__content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    padding: 2rem 2rem;

    @media screen and  (max-width: 59.375em) { //950px
      padding: 2rem 1rem;

    }

    @media screen and  (max-width: 50em) { //800px
      text-align: center;
      align-items: center;
    }


    h1{
      font-size: 5rem;
      padding: 0.5rem;
      margin: 0 0 1rem;
      &:hover{
        transform: scale(1.05) skewY(2deg) skewY(2deg);
      }


      @media screen and  (max-width: 28.125em) { //450px
        font-size: 3rem;
      }

    }
    h2{
      font-size: 1.6rem;
      color: $color-grey-dark;
      font-weight: 600;
      padding: 1rem 0;

      @media screen and  (max-width: 28.125em) { //450px
        font-size: 1.3rem;
        padding: 0.5rem 0;

      }
    }


    &__paragraphs{
      display: flex;
      font-size: 1.4rem;
      color: $color-grey;

      p{
        padding: 2rem 1rem;
        line-height: 1.6;
        letter-spacing: 0.6px;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light2;

        hyphens: auto;

        @media screen and  (max-width: 28.125em) { //450px
          line-height: 1.45;
        }




      }

    }
  }

  .popup-btn{
    margin-top: 0;
    width: 20rem;
    animation: popup 0.3s;



  }
}